# IDE
*.iml
.idea/
!.idea/runConfigurations/
.vscode/

# Gradle
.gradle
build/

# Local properties
local.properties
/local.properties

# Build artifacts
/captures
.externalNativeBuild
.cxx

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

API_READ_ACCESS_TOKEN
API_KEY
/.artifacts/

.kotlin/
backend/
docs/
p-stream/
providers-bundle/
pstream-extension/
xp-turnstile/

*.md
*.apk
*.aar
hs_err_pid9984.log
.gitignore
build_full2.log
build_full.log
build_full3.log
build_full4.log
hs_err_pid14440.log
build_full5.log
replay_pid9984.log
