[submodule "libadb-android"]
	path = libadb-android
	url = https://github.com/alturyxx-gif/libadb-android
[submodule "zstream-plugin"]
	path = zstream-plugin
	url = https://github.com/alturyxx-gif/zstream-plugin.git
